

// index.php
.name-php{
    @include name();
}
.summary-header-php{
    @include header();
    .list-php{
        @include list();
        .li-php{
            @include li();
            a{
                @include a();
            }
        }
        .li-php:hover{
            @include li-hover();
        }
    }
    .block{
        display: none !important;
        .res-php{
            display: none !important;
        }
    }
}

// index.php


.uuuu{
    color: red;
}



